{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "jsxSingleQuote": true
}